body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 93);
    margin: 0;
    min-height: 120vh;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square {
    margin: 20px;
}

.background-container {
    position: relative;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    /* sombra suave y difusa */
    border-radius: 40px;
    /* opcional para que la sombra se vea más estética */
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/fondo.jpg');
    /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    /* Aplica el desenfoque */
    z-index: -1;
    /* Envía el fondo desenfocado detrás del contenido */
    transform: scale(1.1);
}

/* Filtro azul con opacidad del 80% */
.background-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.1);
    /* Azul con 80% de opacidad */
    z-index: -1;
    /* Mantiene el filtro detrás del contenido */
}


.title-container {
    text-align: center;
    margin-bottom: 10px;
}

.login-container {
    background-color: rgb(44, 44, 58);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin-top: 10px;
    margin: 20px;
    /* Margen para separación del título */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.input-container h4 {
    margin: 0;
    font-size: 14px;
    flex-shrink: 0;
    width: 100px;
    text-align: left;
    color: white;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #79557d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container button:hover {
    background-color: rgb(43, 5, 46);
}

h1 {
    color: white;
    margin: 0;
    margin-top: 30px;
}

.subtitulos {
    color: white;
}


.space {
    margin-top: 30px;
}

.space1 {
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color negro con 50% de opacidad */
    z-index: 1;
    /* Asegura que esté sobre el fondo pero detrás del contenido */
}